$reg: 'Montserrat reg'
$med: 'Montserrat med'
$light: 'Montserrat light'
$extrab: 'Montserrat extrab'
$bold: 'Montserrat bold'
$semi: 'Montserrat semi'

$orange: #f58220

*
	margin: 0
	padding: 0
	box-sizing: border-box
	appearance: none

a
	text-decoration: none

*:focus
	outline: 0

body .mfilter-heading-content
	position: relative
	padding-right: 20px

body .mfilter-ajax-loader-container
	display: none !important

body .mfilter-head-icon
	background: url(../image/filter-arrow.svg) no-repeat center
	background-size: contain
	width: 12px
	height: 12px
	position: absolute
	right: 0
	cursor: pointer
	top: 50%
	margin-top: -6px

body #live-search
	left: 0
	right: 0
	width: 70%
	top: 100%
	box-shadow: none !important
	border: 1px solid rgba(#fff, .1) !important
	margin-top: 0
	background-color: #25282e
	border-radius: 0 !important
	padding: 0
	.result-text
		background-color: transparent
		font-size: 14px
		font-weight: normal
		padding: 10px 0
		line-height: 1
		a
			color: #fff
	ul
		li
			height: auto !important
			padding: 10px 20px
			background-color: #25282e
			color: #fff
			font-size: 12px
			&:nth-child(even)
				background-color: #25282e

			&:hover
				background-color: #25282e
			a
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: flex-start
			.product-image
				width: 40px
				margin-right: 20px
				img
					width: 100%
					height: auto
					display: block
					margin: auto
			.product-name
				flex: 1
				font-weight: normal
				color: #fff
				font-size: 13px

body .ui-selectmenu-icon.ui-icon
	background: url(../image/arrow-down.svg) no-repeat center
	background-size: cover
	opacity: 1
	width: 10px
	height: 5px
	cursor: pointer
	position: absolute
	right: 1.12500rem
	top: 50%
	margin-top: -2px


body .ui-selectmenu-button.ui-button
	border: 1px solid #dddddd
	-webkit-border-radius: 3px
	-moz-border-radius: 3px
	border-radius: 3px
	display: block
	width: 100%
	height: 100%
	background-color: transparent
	padding: 0 1.12500rem
	-webkit-transition: 0.3s all ease-in
	-o-transition: 0.3s all ease-in
	-moz-transition: 0.3s all ease-in
	transition: 0.3s all ease-in
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: flex-start

body .ui-selectmenu-button.ui-button:focus
	outline: 0
	border-color: #4e4a5b

body .ui-menu .ui-state-focus, body .ui-menu .ui-state-active 
	margin: 0
	color: $orange

body .ui-selectmenu-menu
	background-color: #fff
	font-size: 11px
	text-align: left
	
body .ui-menu .ui-menu-item 
	cursor: pointer

.filter-close-btn
	display: none
	font-size: 20px
	color: #fff
	width: 40px
	height: 40px
	background-color: $orange
	position: fixed
	border: 0
	position: absolute
	right: 0
	top: 0
	z-index: 4

body .ui-selectmenu-menu .ui-menu
	padding: 0.4rem 0.8rem
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.14)

.mfilter-counter
	display: none

body .mfilter-button-more
	color: $orange
	font-size: 13px

body .mfilter-button-reset
	font-family: $bold
	color: $orange
	font-size: 13px

body .mfilter-col-input
	padding-bottom: 12px
	&:last-child
		padding-bottom: 0
	input[type="checkbox"]
	  position: absolute
	  z-index: -1
	  opacity: 0
	  margin: 10px 0 0 20px
	  + label
	    position: relative
	    padding: 0 0 0 34px
	    font-size: 14px
	    cursor: pointer
	    &:before
	      content: ''
	      position: absolute
	      top: 0
	      left: 0
	      width: 18px
	      height: 18px
	      border-radius: 5px
	      background: transparent
	      border: 1px solid #bababa
	      transition: .2s
	    &:after
	      content: ''
	      position: absolute
	      top: 5px
	      left: 5px
	      width: 10px
	      opacity: 0
	      height: 10px
	      background: url(../image/checkbox-icon.svg) no-repeat center
	      background-size: contain
	      transition: .2s
	  &:checked + label
	    &:before
	      background: $orange
	      border-color: transparent
	    &:after
	      opacity: 1
	input[type="radio"]
	  position: absolute
	  z-index: -1
	  opacity: 0
	  margin: 10px 0 0 20px
	  + label
	    position: relative
	    padding: 0 0 0 34px
	    font-size: 14px
	    cursor: pointer
	    &:before
	      content: ''
	      position: absolute
	      top: 0
	      left: 0
	      width: 18px
	      height: 18px
	      border-radius: 50%
	      background: transparent
	      border: 1px solid #bababa
	      transition: .2s
	    &:after
	      content: ''
	      position: absolute
	      top: 5px
	      left: 5px
	      width: 10px
	      opacity: 0
	      height: 10px
	      background: url(../image/checkbox-icon.svg) no-repeat center
	      background-size: contain
	      transition: .2s
	  &:checked + label
	    &:before
	      background: $orange
	      border-color: transparent
	    &:after
	      opacity: 1

body .mfilter-content 
	.mfilter-content-opts
		margin-top: 16px
	.mfilter-heading-text span
		font-family: $semi
		font-size: 14px
		text-transform: uppercase
		display: block
	li
		padding: 22px 0
		border-bottom: 1px solid #474c57

body .ui-selectmenu-text
	font-family: "Montserrat reg"
	font-size: 11px
	color: #333

#location-hidden
	display: none

#mobile-menu
	opacity: 0
	height: 0
	overflow: hidden

.gm-style .gm-style-iw
	color: #333333
	font-size: 13px
	line-height: 1.2
	padding-top: 1.3rem

.search-results
	.catalog__filter-top
		border-color: #474c57
	.header__category
		background-color: #fff
	&__caption
		text-transform: uppercase
		font-size: 1.12500em
		font-family: $semi
		margin-bottom: 1.5rem
	&__info
		color: #7c7c7c
		font-size: 0.8125em
		p
			margin-right: 0.375rem
		span
			color: #dcdcdc

.error-404
	&__cta
		font-size: 0.8125em
		a
			color: $orange
			border-bottom: 1px solid $orange
	&__content
		text-align: center
		padding-top: 5rem
		width: 64.9122807%
		margin: auto
	&__img
		width: 32.4375rem
		margin: auto
		max-width: 100%
		height: auto
		display: block
		margin-bottom: 1rem
	&__title
		font-size: 1em
		font-family: $med
		line-height: 1.5
		font-weight: 500
		margin-bottom: 2.5rem
	&__form
		position: relative
		& > .form-group
			input:not([type="submit"])
				padding-right: 2.25rem !important
	&__submit
		position: absolute
		right: 1.12500rem
		top: 50%
		transform: translateY(-50%)
		& > input[type="submit"]
			display: none
		svg
			width: 0.8125rem
			fill: #dddddd
			transition: 0.2s all ease-in
			height: 0.8125rem
			cursor: pointer
			&:hover
				transform: scale(1.05)



.google-map
	&__wrapper
		a
			color: inherit
		& > *
			margin-bottom: 0.15rem
			display: block
	&__title
		font-family: $med
		margin-bottom: 0.25rem
		font-weight: 600
	&__site
		margin-top: 0.5rem
		font-size: 12px
		display: inline-block
		border-bottom: 1px solid #c6c6c6
		line-height: 1

.gm-style
	font-family: $reg

input:focus, textarea:focus, button:focus, a:focus
	outline: 0

ul
	list-style-type: none

body
	font-size: 16px
	font-family: $reg, Arial, sans-serif
	background-color: #1e2025


#page
	min-height: 100vh
	position: relative

.map-page
	&__content
		height: 35rem
	#custom-map
		height: 100%

.news-item
	&__content
		overflow: hidden
	.news__item-info
		position: initial
		text-align: left
	img
		width: 48.6842105%
		height: auto
		float: left
		margin-right: 3.12500rem
		margin-bottom: 2rem

.jquery-modal.blocker.current
	.modal
		border-radius: 0
		box-shadow: none
		text-align: center
		padding: 3.75rem 1.87500rem 1.87500rem
		a.close-modal 
			display: none
		.modal-close
			right: 1.87500rem
			top: 1.87500rem
			position: absolute
			svg
				width: 0.75rem
				height: 0.75rem
				fill: #c43d47
		.modal-caption
			text-transform: uppercase
			font-size: 0.8125em
			display: block
			font-family: $med
		.modal-content
			margin-top: 1.6875rem
			display: block
		&.callback-modal
			max-width: 495px
			.form-group
				width: 48.7356322%
				&.form-group--shorter
					width: 48.0952381%
			.modal-content
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: stretch
				flex-wrap: wrap
				justify-content: space-between
				margin-bottom: -1.25rem
			.modal-btn
				border: 0
				padding: 0 2.1875rem
				margin: 2rem auto 0
				letter-spacing: 0
			

.shares-page
	&__content
		margin-bottom: -1.87500rem
	.share__slide
		width: 31.5789474%
		margin-right: 2.6315789%
		margin-bottom: 1.87500rem
		&:nth-child(3n)
			margin-right: 0

.callback-modal
	.form-group
		height: 35px
		margin-bottom: 1.25rem
		&.form-group--textarea
			height: auto
			& > label
				top: 20px !important
			&.active
				& > label
					top: -6px !important
		input:not([type="submit"]),
		textarea
			border: 1px solid #dddddd
			border-radius: 3px
			display: block
			width: 100%
			height: 100%
			background-color: transparent
			padding: 0 1.12500rem
			transition: 0.3s all ease-in
		textarea
			padding-top: 0.55rem
			padding-bottom: 0.55rem
			height: 6.25rem
		&.form-group--hover
			position: relative
			&.active-no-label
				& > label
					opacity: 0
			&.active
				& > input:not([type="submit"]),
				& > textarea
					border-color: #4e4a5b
				& > label
					opacity: 1
					font-size: 0.625em
					color: #333
					transform: translateY(0%)
					font-family: $med
					top: -0.3125rem
					z-index: 1
			& > label
				transition: 0.3s all ease-in
				position: absolute
				left: 1.0625rem
				font-family: $reg
				z-index: -1	
				font-size: 0.6875em
				top: 50%
				transform: translateY(-50%)
				display: inline-block
				color: #b1b1b1
				padding: 0 0.4375rem
				background-color: #fff

html
	font-size: 16px

html, body
	overflow-x: hidden

button
	cursor: pointer

textarea
	resize: none
	overflow-y: hidden

input,
textarea
	font-family: $reg
	font-size: 11px
	color: #333

.slick-slide:focus
	outline: 0

.section--white
	background-color: #fff

.dot
	li
		margin-right: 1.25rem
		&:last-child
			margin-right: 0
		&.slick-active
			button
				background-color: $orange
				height: 3px
	button
		border: 0
		background-color: transparent
		font-size: 0
		background-color: #9f9dae
		height: 1px
		width: 3.12500rem
		transition: 0.3s all ease-in

.slick-list .slick-track
	margin-left: 0

.arrow
	height: 1.35rem
	width: 1.35rem
	display: block
	position: absolute
	background-color: transparent
	border: 0
	svg
		height: 100%
		width: 100%

.section--padding
	padding: 4.0625rem 0

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
	font-size: 11px
	color: #999999
	font-family: $reg

input::-moz-placeholder,
textarea::-moz-placeholder
	font-size: 11px
	color: #999999
	font-family: $reg

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
	font-size: 11px
	color: #999999
	font-family: $reg

input:-moz-placeholder,
textarea:-moz-placeholder
	font-size: 11px
	color: #999999
	font-family: $reg

input[type="submit"]
	cursor: pointer

.caption
	color: #333
	text-transform: uppercase
	font-family: $semi
	text-align: center
	line-height: 1.33333333
	font-size: 1.12500em
	&:hover
		&:after
			transform: scale(1.1)
	&.caption--white
		color: #fff
		&:after
			background-image: url(../image/caption-decoration--white.svg)
	&:after
		content: ''
		display: block
		transition: 0.3s all ease-in
		margin: 0.25rem auto 0
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		background-image: url(../image/caption-decoration.svg)
		width: 2.87500rem
		height: 0.875rem

.container
	width: 100%
	max-width: 1170px
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto

.logo svg
	fill: #fff

.inline-flex
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex

.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.ai-s
	align-items: stretch

.ai-c
	align-items: center

.ai-fs
	align-items: flex-start

.ai-b
	align-items: baseline

.ai-fe
	align-items: flex-end

.jc-sb
	justify-content: space-between

.jc-fe
	justify-content: flex-end

.jc-fs
	justify-content: flex-start

.jc-c
	justify-content: center

.fd-c
	flex-direction: column

.fw-w
	flex-wrap: wrap


.where-to-buy
	&__left
		width: 53.5087719%
	&__items
		margin-top: 2.12500rem
	&__item
		font-size: 0.875em
		line-height: 1.53846154
		margin-bottom: 2.8125rem
		&:last-child
			margin-bottom: 0
		&-caption
			text-transform: uppercase
			font-family: $bold
			font-size: 1em
			&:after
				content: ''
				display: block
				width: 2.1875rem
				height: 1px
				background-color: $orange
				margin-top: 0.15rem
		&-content
			font-size: 0.928571429em
			margin-top: 1.25rem
		&-address
			width: 29.5081967%
		&-phones
			width: 27.0491803%
		&-site
			width: 28.6885246%
		&-title
			text-transform: uppercase
			font-family: $semi
		&-value
			margin-top: 0.25rem
			span
				font-size: 0.846153846em
			a
				color: #fff
				display: block
				transition: 0.15s all ease-in
				&:hover
					color: $orange


.btn
	display: block
	font-family: $semi
	text-transform: uppercase
	letter-spacing: 0.05em
	text-align: center
	color: #fff
	height: 30px
	cursor: pointer
	line-height: 30px
	border: 0
	transition: 0.2s all ease-in
	font-size: 0.6875em
	position: relative
	transform-style: preserve-3d
	perspective: 1000px
	transform-origin: center center
	-webkit-appearance: none
	&.btn--orange
		background-color: $orange
		&:hover
			background-color: lighten($orange, 5%)
	.btnflip-item
	  position: absolute
	  top: 0
	  left: 0
	  width: 100%
	  height: 100%
	  text-align: center
	  background-color: rgba(255, 255, 255, 0.05)
	  transform-style: preserve-3d
	  backface-visibility: hidden
	  text-transform: uppercase
	  color: #fff
	  transition: 1s

	.btnflip-item.btnflip__front
	  transform: rotateX(0deg) translateZ(20px)

	&:hover .btnflip-item.btnflip__front
	  transform: rotateX(-180deg) translateZ(20px)

	.btnflip-item.btnflip__back
	  transform: rotateX(180deg) translateZ(20px)

	&:hover .btnflip-item.btnflip__back
	  transform: rotateX(0deg) translateZ(20px)

	.btnflip-item.btnflip__center
	  background-color: $orange
	  &::before
	    content: ''
	    position: absolute
	    top: 0
	    left: 0
	    width: 100%
	    height: 100%
	    background-color: $orange
	    transform: translateZ(-1px)
	&:hover .btnflip-item.btnflip__center
	  transform: rotateX(-180deg)
	&.btn--smaller
		font-size: 0.625em
		transition: 0.2s all ease-in
	&.btn--dark
		background-color: #2d3037
		transition: 0.2s all ease-in
		.btnflip-item.btnflip__center
		  background-color: #2d3037
		  &:before
		  	background-color: #2d3037
		&:hover
			background-color: lighten(#2d3037, 5%)
	&.btn--linear
		background-color: transparent
		transition: 0.2s all ease-in
		border: 1px solid $orange
	&.btn--higher
		height: 35px
		line-height: 35px




.faq
	&__content
		margin-bottom: -0.9375rem
		&-part
			width: 48.6842105%
			margin-right: 2.631579%
			&:last-child
				margin-right: 0
	&__item
		border: 1px solid #626262
		border-radius: 3px
		padding: 1rem 1.25rem
		font-size: 0.75em
		line-height: 1.5
		margin-bottom: 0.9375rem
		transition: 0.2s all ease-in
		&:hover
			.faq__item-question
				color: $orange
			svg
				fill: $orange
		&.active
			border-color: rgba($orange, .7)
			.faq__item-question
				color: $orange
				& > svg
					transform: rotate(-180deg)
			.faq__item-answer
				margin-top: 1rem
				height: auto

		&-question
			font-family: $med
			transition: 0.3s all ease-in
			cursor: pointer
			& > svg
				width: 0.625rem
				fill: #dddddd
				transition: 0.2s all ease-in
			& > span
				display: block
				padding-right: 2rem
		&-answer
			height: 0
			overflow: hidden
			transition: 0.3s all ease-in
			margin-top: 0
			p
				margin-bottom: 0.5rem
				&:last-of-type
					margin-bottom: 0

		&:nth-child(2n)
			margin-right: 0

body 
	.mm-menu
		background-color: #25282e
		color: #dcdcdc
		border-color: #7f7f7f
	.mm-menu_offcanvas
		z-index: 2
	.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*
		color: #dcdcdc
	.mm-menu .mm-listview .mm-btn_next:after,
	.mm-menu .mm-btn:after, .mm-menu .mm-btn:before
		border-color: #fff

.text-danger,
.text-successful
	font-size: 12px
	margin-top: -0.5rem
	margin-bottom: 1.5rem

.footer__subscribe .text-danger, 
.footer__subscribe .text-successful
	margin-top: 0.7rem
	margin-bottom: 1.2rem

.text-danger
	color: red

.text-successful
	color: green

.contacts
	&__info
		margin-top: 3.75rem
	&__form
		text-align: center
		&:not(.error-404__wrap)
			width: 39.0350877%
			padding: 2.5rem 1.5625rem
			background-color: #1e2025
			position: relative
			z-index: 1
			border: 1px solid #474747
		.modal-btn
			padding: 0 2rem
			margin: 2rem auto 0
		.modal-caption
			text-transform: uppercase
			font-size: 0.875em
			font-family: $semi
			line-height: 1.71428571
		input:not([type="submit"]),
		textarea
			color: #fff
			border-color: #969696 !important
		.modal-content
			margin-top: 2.5rem
			display: block
		.form-group.form-group--hover > label
			color: #969696
			background-color: #1e2025
		.form-group.form-group--hover.active 
			& > label
				color: #dddee3
			& > input
				border-color: #dddee3 !important
	&__map
		height: 30.3125rem
		width: 57.0175439%
		iframe
			border: 0
			display: block
			width: 100%
			height: 100%
	&__top
		font-size: 0.875em
		margin-bottom: -2rem
		margin-right: -2rem
		&-item
			margin-right: 2rem
			margin-bottom: 2rem
		&-value
			line-height: 1.71428571
			& > *
				color: #fff
				transition: 0.15s all ease-in
				display: block
				&:hover
					color: $orange
		&-title
			text-transform: uppercase
			font-family: $semi
			margin-bottom: 1rem
			&:hover
				&:after
					width: 100%
			&:after
				content: ''
				transition: 0.15s all ease-in
				display: block
				height: 1px
				margin-top: 0.1875rem
				width: 1.87500rem
				background-color: $orange

.certificates
	a
		display: block
	&__title
		transition: 0.2s all ease-in
		font-size: 0.875em
		border-bottom: 1px solid transparent
		color: #fff
	&__icon
		display: block
		width: 0.75rem
		margin-right: 1.37500rem
		height: 0.75rem
		svg
			width: 100%
			height: 100%
			fill: #fff
			transition: 0.15s all ease-in
	&__item
		margin-bottom: 0.875rem
		cursor: pointer
		&:hover
			.certificates__icon
				svg
					fill: #fff
					transform: scale(1.1)
			.certificates__title
				color: $orange
				border-color: $orange
		&:last-child
			margin-bottom: 0

.header
	&.header--inner
		border-bottom: 1px solid #25282e
	&__category
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		min-height: 11.87500rem
		h1
			color: #1e2025
			letter-spacing: 0.025em
			padding: 1.5rem
			text-align: center
			text-transform: uppercase
			font-family: $bold
			font-size: 1.62500em
	&__breadcrumbs
		&-content
			padding: 1.25rem 0
			li
				position: relative
				padding-right: 1.1875rem
				margin-right: 0.9375rem
				line-height: 1.5
				&:after
					content: ''
					display: block
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-50%)
					width: 7px
					height: 7px
					background: url(../image/arrow-right.svg) no-repeat center
					background-size: contain
				&:last-of-type
					margin-right: 0
					padding-right: 0
					&:after
						display: none
					a
						color: #7c7c7c
			a
				display: block
				color: #dcdcdc
				font-size: 0.8125em
	&__mobile
		display: none
		background-color: transparent
		border: 0
		width: 24px
		height: 18px
		margin-left: 2rem
		position: relative
		&-line
			position: absolute
			left: 0
			top: 0
			right: 0
			transition: 0.4s all ease-in
			height: 2px
			border-radius: 2px
			background-color: $orange
			&:before,
			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				right: 0
				height: 2px
				border-radius: 2px
				background-color: $orange
			&:before
				top: 8px
			&:after
				top: 16px
	&__right
		position: relative
		min-height: 44px
		&.active
			.header__nav
				transform: translateX(-100%)
				opacity: 0
				position: absolute
				left: 0
			.header__nav-inner
				display: none
			.header__search-form
				z-index: 1
				opacity: 1
				left: 1.5rem
				top: 0
				bottom: 0
				background-color: #25282e
			.header__search-icon
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
	&__socials
		li
			&:hover
				svg
					fill: #fff
					transform: scale(1.2)
			&:last-of-type
				a
					margin-right: 0
		a
			display: block
			margin-right: 0.75rem
		svg
			height: 13px
			fill: #ddd
			transition: 0.3s all ease-in
	&__languages
		margin-right: 2.1875rem
		button.active
			color: #666666
		li
			border-right: 1px solid #666666
			padding-right: 0.5rem
			&:last-of-type
				border-right: 0
				padding-right: 0
				padding-left: 0.5rem
		button
			font-size: 0.625em
			display: block
			color: #fff
			text-transform: uppercase
			background-color: transparent
			border: 0
	&__callback
		font-size: 0.5em
		padding: 0 1.6875rem
		margin-right: 2.1875rem
		min-width: 9.37500rem
	&__logo
		svg
			width: 6.25rem
	&__top
		padding: 1.75rem 0
		align-items: center
		justify-content: space-between
	&__search
		margin-right: 1.25rem
		&-input
			border: 0
			background-color: transparent
			border-bottom: 1px solid #ddd
			padding: 0 1rem 0.6rem
			width: calc(100% - 1rem)
			color: #fff
		&-icon
			fill: #dddddd
			width: 13px
			cursor: pointer
			transition: 0.15s all ease-in
			&:hover
				fill: #fff
				transform: scale(1.25)
		&-close
			width: 10px
			height: 10px
			fill: #ddd
			cursor: pointer
			right: 0
			margin-left: 1.5rem
			top: 50%
			transform: translateY(-50%)
			position: absolute
		&-form
			position: absolute
			z-index: -1
			opacity: 0
			transition: 0.3s all ease-in
			&.hide
				display: none
	&__nav
		margin-right: 2.5rem
		transition: 0.18s all ease-in
		li
			line-height: 1
			a
				line-height: 1
		&-inner
			position: absolute
			z-index: -2
			opacity: 0
			top: 100%
			left: 0
			background-color: #fff
			outline: 1px solid #adadad
			padding: 0.6rem 0
			transition: 0.15s all ease-in
			transform: scale(0)
			transform-origin: left
			.header__nav-inner-inner
				left: 100%
				transform: translateX(0.3125rem)
				top: 0
				&:after
					content: ''
					display: block
					position: absolute
					left: 0
					top: 0
					bottom: 0
					width: 100%
					background-color: #fff
					opacity: 0
					transform: translateX(-0.3125rem)
					z-index: -1
			&-arrow
				position: absolute
				right: 0.5625rem
				top: 54%
				transform: translateY(-50%)
				height: 0.875rem
				width: 0.875rem
				cursor: pointer
				padding: 0.25rem
			& > li
				padding: 0.25rem 2rem 0.25rem 1.1875rem
				position: relative
				&:hover,
				&.active
					.header__nav-inner-inner
						opacity: 1
						z-index: 1
					& > a
						color: $orange
				& > a
					font-size: 0.6875em
					color: #333
					white-space: nowrap
					transition: 0.3s all ease-in
		&-arrow
			display: block
			position: absolute
			cursor: pointer
			right: 0
			top: 5%
		&-list
			margin-top: 1rem
			font-family: $med
			position: relative
			z-index: 1
			& > li
				margin-right: 1.87500rem
				position: relative
				padding-right: 1.0625rem
				padding-bottom: 1rem
				&:nth-child(4),
				&:nth-child(5)
					padding-right: 0
				&:after
					content: ''
					display: block
					position: absolute
					left: 0
					top: 58%
					right: 0
					background-color: $orange
					height: 1px
					opacity: 0
					transition: 0.2s all ease-in
					transform: translateX(-100%)
					z-index: -1
				&:hover,
				&.active
					&:after
						opacity: 1
						transform: translateX(0%)
					& > svg
						transform: rotate(-180deg)
					& > .header__nav-inner:not(.header__nav-inner-inner)
						opacity: 1
						z-index: 1
						transform: scale(1)
				& > svg
					fill: #ddd
					width: 0.625rem
					cursor: pointer
					transition: 0.2s all ease-in
				&:last-of-type
					margin-right: 0
				& > a
					display: block
					color: #dcdcdc
					font-size: 0.75em

@keyframes bannerSlideEffect
	0%
		transform: translateX(0%)
		opacity: 0.5
	100%
		transform: translateX(-20%)
		opacity: 0

@keyframes bannerBeforeElementEffect
	0%
		transform: translateX(-15%)
		opacity: 0
	50%
		opacity: .4
	100%
		transform: translateX(0)
		opacity: 1

@keyframes bannerAfterElementEffect
	0%
		transform: translateX(-20%)
		opacity: 0
	50%
		opacity: .4
	100%
		transform: translateX(0)
		opacity: 1

@keyframes bannerSlideImg
	0%
		transform: translateX(0)
		opacity: 1
	40%
		transform: translateX(-50%)
		opacity: 0

.inner
	padding: 1.25rem 0 3.75rem
	color: #fff
	&.inner--map
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			z-index: -1
			top: -3.6875rem
			width: 120rem
			height: 50.9375rem
			right: 0
			background: url(../image/contacts-bg.png) no-repeat top
			background-size: cover
	&.inner--bg
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			z-index: -1
			top: 0
			max-width: 100%
			width: 92.25rem
			height: 32.12500rem
			background: url(../image/body-bg.png) no-repeat center
			background-size: cover
	&__caption
		text-transform: uppercase
		font-family: $semi
		letter-spacing: 0.025em
		font-size: 1.12500em
	&__top
		margin-top: 1.4rem


.catalog
	&__top
		height: 3.12500rem
	&__pagination
		margin-top: 2.5rem
		position: relative

		z-index: 2
		&-list
			flex-wrap: wrap
			li
				margin-right: 10px
				&.pagination-arrow
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: center
					justify-content: center
					a
						background-position: center
						background-size: contain
						background-repeat: no-repeat
						width: 14px
						height: 14px
				&.pagination-arrow.pagination-arrow--prev
					a
						background-image: url(../image/pagination-left.svg)
				&.pagination-arrow.pagination-arrow--next
					a
						background-image: url(../image/pagination-right.svg)
				&.pagination-arrow.pagination-arrow--last
					a
						background-image: url(../image/pagination-last.svg)
				&.pagination-arrow.pagination-arrow--first
					a
						background-image: url(../image/pagination-first.svg)
				&.active
					a
						background-color: $orange
				a
					display: block
					border-radius: 3px
					width: 20px
					height: 20px
					text-align: center
					line-height: 20px
					color: #fff
					font-size: 10px
				a
	&__sort
		font-size: 0.8125em
		&-item
			display: block
			color: #7c7c7c
			margin-right: 1.25rem
			position: relative
			&:first-child
				padding-left: 0 !important
			&:before
				content: ''
				display: block
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				width: 9px
				height: 11px
				background-position: center
				background-size: contain
				background-repeat: no-repeat
			&:last-child
				margin-right: 0
			&.catalog__sort-item--active
				color: #dcdcdc
				padding-left: 12px
			&.catalog__sort-item--asc
				&:before
					background-image: url(../image/sort-arrow--asc.svg)
			&.catalog__sort-item--desc
				&:before
					background-image: url(../image/sort-arrow--desc.svg)
		&-title
			color: #dcdcdc
			margin-right: 2rem
			display: block
	&__items
		margin-top: 2.5rem
		margin-bottom: -4.5rem
	&__right
		width: 64.9122807%
		.new__item
			width: 48.6486486%
			margin-right: 2.7027028%
			&:nth-child(2n)
				margin-right: 0
	&__filter
		width: 27.1929825%
		color: #fff
		&-top
			border-bottom: 1px solid #474c57
			svg
				width: 1rem
				height: 1rem
				fill: #fff
				display: none
			span
				text-transform: uppercase
				font-family: $semi
				font-size: 0.875em

.banner
	background-color: #1c1c1c
	color: #fff
	position: relative
	&:hover
		.arrow
			opacity: 1
	&__dot
		position: absolute
		bottom: 3.12500rem
	&__slider
		opacity: 0
		transition: 0.2s all ease-in
	&__arrows
		.arrow
			opacity: 0
			transition: 0.3s all ease-in
		.arrow--prev
			left: 0
			transform: translateX(-250%)
		.arrow--next
			right: 0
			transform: translateX(300%)
		svg
			fill: #fff
	&__slide
		padding: 6.25rem 0
		&-video
			position: absolute
			left: -1.75rem
			bottom: 2.1875rem
			z-index: 1
			&:focus
				outline: 0
		&-info
			& > *
				transform: translateX(-100%)
				opacity: 0
		&-tmp
			display: none
		&-inner
			&.animated
				.banner__slide-info
					& > *
						transform: translateX(0)
						opacity: 1
				.banner__slide-gallery-inner
					animation-duration: 0.85s
					animation-name: bannerSlideEffect
				.banner__slide-img img
					animation-duration: 0.85s
					animation-name: bannerSlideImg
				.banner__slide-gallery--before
					animation-name: bannerBeforeElementEffect
					animation-duration: 0.7s
					animation-delay: 0.05s
				.banner__slide-gallery--after
					animation-name: bannerAfterElementEffect
					animation-duration: 0.55s
					
		&-round
			position: absolute
			left: -1.12500rem
			font-size: 0.625em
			color: #fff
			height: 4rem
			transform: rotate(-160deg)
			width: 2.5rem
			span
				transform-origin: bottom center
				left: 0
				height: 3rem
				width: 0px
				top: 0
				position: absolute
		&-play
			display: block
			width: 2.5rem
			height: 2.5rem
			background: url(../image/play-video.svg) no-repeat center
			background-size: cover
		&-img
			max-width: 100%
			height: auto
			display: block
			margin: auto
			border-radius: 0.3125rem
			overflow: hidden
		&-gallery
			width: 55.2631579%
			position: relative	
			&--before,
			&--after
				position: absolute
				left: 0
				width: 100%
				background-color: rgba(#fff, 0.05)
				height: 100%
				z-index: -1
				border-radius: 0.3125rem
			&--before
				top: 10px
				left: 10px
			&--after
				top: 20px
				left: 20px
		&-caption
			text-transform: uppercase
			font-size: 1em
			font-family: $bold
			transition: 0.8s all ease-in
			line-height: 1.5
		&-description
			font-family: $light
			font-size: 0.8125em
			line-height: 1.23076923
			margin-top: 1.12500rem
			transition: 0.85s all ease-in
		&-author
			color: $orange
			font-size: 0.875em
			margin-top: 1.62500rem
			transition: 0.85s all ease-in
		&-info
			width: 34.2105263%
		&-btn
			display: inline-block
			padding-left: 2.8125rem
			padding-right: 2.8125rem
			margin-top: 2.5rem
			transition: 0.85s all ease-in
			letter-spacing: 0
			min-width: 9.6875rem

.category
	&__slider
		width: 94.7368421%
		margin: 0 auto
	&__arrows
		.arrow
			top: 61%
			transform: translateY(-50%)
			svg
				fill: #c3c3c3
			&.arrow--prev
				left: 0
			&.arrow--next
				right: 0
	&__content
		position: relative
		.slick-list .slick-track
			margin-left: auto
	&__slide
		&-inner
			min-height: 13.75rem
			text-align: center
			margin: 0 auto
			&:hover
				.category__slide-shadow
					width: 5.6875rem
				.category__slide-img img
					transform: translateY(-1.25rem)
				.category__slide-title
					&:after
						opacity: 1
		&-title
			text-transform: uppercase
			color: #333
			font-family: $semi
			font-size: 0.6875em
			letter-spacing: 0.025em
			display: block
			margin-top: 1rem
			&:after
				content: ''
				display: block
				height: 1px
				width: 1.5625rem
				background-color: #0072bc
				opacity: 0
				transition: 0.3s all ease
				margin: 0.375rem auto 0
		&-shadow
			background: url(../image/category-shadow.jpg) no-repeat center
			background-size: contain
			width: 7.25rem
			height: 1.25rem
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
		&-img
			position: relative
			margin: 0 auto
			padding-bottom: 1.5625rem
			display: block
			cursor: pointer
			img
				max-width: 100%
				height: auto
				display: block
				margin: auto
				transition: 0.3s all ease-in

body.touch-device 
	.new__item-btn
		position: initial
		transform: none
		opacity: 1
		margin-bottom: 1.3rem
		margin-top: 0
	.new__item-title
		margin: 1.8rem auto
	.new__item:hover .new__item-btn
		transform: none

body:not(.touch-device) 
	.new__item
		&:hover
			.new__item-img img
				max-width: 85.483871%
			.new__item-title
				transform: translateY(-0.3rem)
			.new__item-btn
				opacity: 1
				transform: scale(1) translateX(-50%)

.new
	&__content
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: -1
			width: 74.1875rem
			height: 47.5625rem
			background-image: url(../image/new-bg.png) 
			background-repeat: no-repeat 
			background-position: center
			background-size: contain
	.caption
		margin-bottom: 5.3125rem
	.new__item
		margin-right: 2.6315789%
		width: 31.5789474%

		&:nth-child(3n)
			margin-right: 0
	&__item
		margin-bottom: 4.5rem
		background-color: #1c1c1c
		text-align: center
		padding: 0 1.5625rem
		position: relative
		max-width: 360px
		transition: 0.2s all ease
		transform: translateY(0%)
		&.new__item--hide
			display: none
		&-btn
			opacity: 0
			padding: 0 1.5625rem
			transform: scale(0) translateX(-50%)
			display: inline-block
			position: absolute
			bottom: 1rem
			left: 50%
			transform-origin: left
			margin-top: 1rem
			transition-delay: 0.15s
			min-width: 7.25rem
		&-title
			color: #fff
			width: 85%
			font-family: $med
			font-size: 0.75em
			letter-spacing: 0.005em
			height: 3.75rem
			transition: 0.05s all ease-in
			margin: 1rem auto
			span
				line-height: 1.33333333
		&-img
			margin: -2.5rem auto 0
			display: block
			img
				display: block
				max-width: 100%
				width: 100%
				height: auto
				margin: auto
				transition: 0.3s all ease-in
				border-radius: 3px

body:not(.touch-device)
	.share__slide
		&:hover 
			.share__slide-info:after
				transform: scale(1) translateY(0%)
			.share__slide-img img
				transform: scale(1.1)

.share
	margin-top: -4.5rem
	.caption
		margin-bottom: 2.5rem
	.slick-list .slick-slide
		margin-right: 1.87500rem
	.slick-list
		margin-right: -1.87500rem
	&__dots
		margin-top: 2rem
	&__slide
		&-info
			position: absolute
			z-index: 1
			left: 0
			right: 0
			bottom: 0
			padding: 2.8125rem 1.87500rem
			z-index: 1
			&:after
				content: ''
				display: block
				z-index: -1
				position: absolute
				left: 0
				top: 0
				bottom: 0
				right: 0
				transition: 0.25s all ease-in
				background: rgba(#151515, .4)
				transform-origin: center bottom
				transform: scale(0) translateY(100%)
				border-radius: 3px
		&-img
			max-width: 360px
			color: #fff
			position: relative
			display: block
			overflow: hidden
			transition: 0.3s all ease-in
			border-radius: 3px
			img
				max-width: 100%
				height: auto
				display: block
				transition: 0.3s all ease-in
				margin: auto
		&-title
			font-family: $extrab
			text-transform: uppercase
			font-size: 1.62500em
		&-descr
			font-size: 0.75em
			line-height: 1.66666667
			margin-top: 0.65rem
			b
				font-family: $bold
				font-size: 2em
				display: block
				line-height: 1.29166667
			i
				text-transform: uppercase
				font-family: $semi
				font-style: normal

.news
	.caption
		margin-bottom: 2.5rem
	&__content
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: -1
			width: 75.62500rem
			height: 68.8125rem
			background-image: url(../image/news-bg.png) 
			background-repeat: no-repeat 
			background-position: center
			background-size: contain
	&__row
		height: 31.25rem
		margin-right: -2.631579%
		margin-bottom: 1.87500rem
		&:nth-child(1n)
			.news__item
				&:nth-child(1n)
					height: 31.25rem
				&:nth-child(2n)
					height: 12.5rem
				&:nth-child(3n)
					height: 16.87500rem
		&:nth-child(2n)
			.news__item
				&:nth-child(1n)
					height: 16.87500rem
				&:nth-child(2n)
					height: 12.5rem
				&:nth-child(3n)
					height: 31.25rem
					
		&:last-child
			margin-bottom: 0
	&__item
		width: 48.6842105%
		max-width: 555px
		margin-right: 2.631579%
		position: relative
		overflow: hidden
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		min-height: 10rem
		&:hover
			&:before
				opacity: 0
				transform: scale(0.5)
			.news__item-info:after
				opacity: 1
				transform: scale(1)
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			border-radius: 3px
			background-color: rgba(#151515, .4)
			transition: 0.4s all ease-in
		&-info
			position: absolute
			left: 2.5rem
			right: 2.5rem
			top: 2.5rem
			bottom: 2.5rem
			text-align: center
			color: #fff
			z-index: 1
			&:after
				content: ''
				display: block
				position: absolute
				left: 0
				top: 0
				bottom: 0
				right: 0
				background-color: rgba(#151515, .4)
				opacity: 0
				transition: 0.4s all ease-in
				transform: scale(0)
				z-index: -1
			p
				font-size: 0.875em
				font-family: $semi
				text-transform: uppercase
				line-height: 1.57142857
				color: #fff
				b
					color: $orange
					display: block
		img
			width: 100%
			transition: 0.4s all ease
			height: auto
			display: block



.advantages
	.caption
		margin-bottom: 4.0625rem
	&__content
		margin-bottom: -0.4rem
	&__item
		width: 16.6666667%
		margin-right: 4.16666663%
		color: #333
		position: relative
		font-size: 0.6875em
		padding-bottom: 0.4rem
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 2px
			width: 0
			transform: translateX(-100%)
			background-color: transparent
			transition: 0.2s all ease-in
		&:hover
			.advantages__item-title
				color: #e9b852
			&:after
				background-color: #e9b852
				width: auto
				transform: translateX(0%)
			.advantages__item-img
				svg
					transform: scale(1.1)
		&-title
			min-height: 2.1875rem
			text-transform: uppercase
			font-family: $semi
			line-height: 1.27272727
			letter-spacing: 0.005em
			margin-top: 1rem
			transition: 0.15s all ease-in
		&-descr
			margin-top: 0.4rem
			line-height: 1.54545455
		&-img
			width: 2.8125rem
			height: 2.5rem
			svg
				fill: #e9b852
				transition: 0.2s all ease-in
				height: 100%
				display: block
		&:last-child
			margin-right: 0


.seo
	padding: 3.12500rem 0 3.75rem
	font-size: 0.8125em
	&__arrow
		width: 0.625rem
		fill: #fff
		transition: 0.2s all ease-in
	&__more
		font-family: $med
		color: #fff
		margin-top: 0.75rem
		span
			transition: 0.3s all ease-in
			margin-right: 0.375rem
	&__content
		&.active
			.seo__more 
				span
					color: $orange
			.seo__arrow
				fill: $orange
			.seo__content-inner
				height: auto
				&:after
					opacity: 0
					transform: translateY(100%)
			.seo__arrow
				transform: rotate(180deg)
		&-inner
			color: #ebebeb
			position: relative
			line-height: 1.76923077
			height: 15rem
			transition: 0.3s all ease-in
			overflow: hidden
			&:after
				content: ''
				transform: translateY(0%)
				display: block
				position: absolute
				left: 0
				opacity: 1
				transition: 0.3s all ease-in
				bottom: 0
				right: 0
				height: 2.5rem
				background-image: -moz-linear-gradient( 90deg, rgb(30,32,37) 0%, rgba(30,32,37,0) 100%);
				background-image: -webkit-linear-gradient( 90deg, rgb(30,32,37) 0%, rgba(30,32,37,0) 100%);
				background-image: -ms-linear-gradient( 90deg, rgb(30,32,37) 0%, rgba(30,32,37,0) 100%);
			b
				color: #fff
				font-family: $semi
			p
				margin-bottom: 0.5rem
				&:last-of-type
					margin-bottom: 0

.guarantee
	.text-block
		ul
			li
				padding-top: 0.9rem
				padding-left: 3.62500rem
				position: relative
				img
					transition: 0.15s all ease-in
					width: 2.25rem
					position: absolute
					left: 0
					top: 0
					&:hover
						transform: scale(1.05)
				&:before
					display: none

.text-block
	& > *
		&:last-child
			margin-bottom: 0
	strong, b
		font-family: $med
		font-weight: normal
	h2
		text-transform: uppercase
		font-size: 1.12500em
		font-family: $semi
		line-height: 1.3
		margin-bottom: 0.75rem
	p
		font-size: 0.875em
		line-height: 1.71428571
		margin-bottom: 0.7rem
	& >	b
			text-transform: uppercase
			font-family: $med
			font-size: 0.875em
			margin-bottom: 0.6rem
			display: inline-block
			margin-top: 1rem
	& > *:last-child
			margin-bottom: 0
	ul
		margin-bottom: 1.5rem
		li
			margin-bottom: 0.4rem
			font-size: 0.875em
			line-height: 1.5
			i
				text-transform: uppercase
				color: $orange
				font-family: $med
				font-style: normal
			&:last-child
				margin-bottom: 0
			&:before
				content: '- '

.shares-item
	&__offers
		margin-top: 5.62500rem
		&-wrapper
			text-align: center
		&-btn
			display: inline-block
			padding: 0 6.5rem
			margin-top: 3.12500rem
			& > .btnflip-item.btnflip__center
				background-color: transparent
				&:before
					background-color: transparent
		.new__content
			margin-top: 5rem
			margin-bottom: -4.5rem
		&-title
			text-transform: uppercase
			font-family: $med
			font-size: 0.875em
			font-weight: normal
	&__content
		overflow: hidden
	&__text
		margin-top: 3.75rem
		p
			font-size: 0.8125em
			line-height: 1.84615385
			margin-bottom: 0.75rem
			b
				font-family: $bold
			&:last-of-type
				margin-bottom: 0
	&__img
		width: 31.5789474%
		float: left
		margin-right: 2.8125rem
		margin-bottom: 1.4rem
	&__info
		width: 64.0350877%
	&__title
		text-transform: uppercase
		font-family: $semi
		letter-spacing: 0.025em
		font-size: 1.12500em
	&__description
		margin-top: 2rem
		p
			font-size: 0.875em
			line-height: 1.71428571

.product
	&__advantages
		margin-top: 3.75rem
	&__video
		margin-top: 3.4375rem
		&-inner
			position: relative
			width: 100%
			padding-top: 56.25%
		iframe
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			display: block
			border: 0
			width: 100%
			height: 100%
	&__description
		margin-top: 4.0625rem
		
	&__content
		color: #fff
		
	&__gallery
		width: 49.122807%
		&-main
			opacity: 0
			transition: 0.2s all ease-in
			&-slide
				a
					display: block
				img
					max-width: 100%
					height: auto
					display: block
					margin: auto
		&-previews
			margin-top: 0.6rem
			opacity: 0
			transition: 0.2s all ease-in
			.slick-slide
				margin-right: 0.6rem
				transition: 0.3s all ease-in
				&:hover
					&:before
						opacity: 0
						z-index: 1
						transform: rotate(90deg)
					img
						transform: scale(1.1)
				&.slick-current
					box-shadow: 0 0 20px 0 rgba(#000, .5)
					&:before
						opacity: 0

			.slick-list
				margin-right: -0.6rem
				overflow: visible !important
			.slick-track
				transform: none !important
			&-slide
				cursor: pointer
				overflow: hidden
				position: relative
				&:before
					content: ''
					display: block
					position: absolute
					left: 0
					top: 0
					bottom: 0
					transition: 0.2s transform ease-in, 0.5s opacity ease-in
					right: 0
					background-color: rgba(#000, .4)
				img
					max-width: 100%
					height: auto
					transition: 0.1s all ease-in
					display: block
					margin: auto
	&__info
		width: 45.6140351%
		&-downloads
			&--drivers
				border-bottom: 1px solid #fff
				color: #fff
			&--images
				color: $orange
				margin-top: 0.675rem
				border-bottom: 1px solid $orange
			a
				display: block
				padding-left: 0
				transition: 0.2s all ease-in
				font-size: 0.75em
				position: relative
				&:before
					content: '→'
					position: absolute
					left: 0
					top: 0
					opacity: 0
					transition: 0.2s all ease-in
				&:hover
					padding-left: 1rem
					&:before
						opacity: 1
		&-btn
			margin-right: 3.75rem
			padding: 0 5.3125rem
		&-cta
			margin-top: 2.5rem
		&-price
			margin-top: 4.0625rem
			font-family: $semi
			text-transform: uppercase
			font-size: 1.12500em
		&-title
			text-transform: uppercase
			color: $orange
			font-size: 1.12500em
			font-family: $semi
			letter-spacing: 0.025em
			line-height: 1.3
		&-characteristics
			margin-top: 1.87500rem
			font-size: 0.875em
			&-title
				text-transform: uppercase
				font-family: $bold
			&-table
				padding-top: 0.875rem

				tr
					vertical-align: top
					td:first-of-type
						white-space: nowrap
					&:last-of-type
						span
							margin-bottom: 0
					span
						margin-bottom: 0.25rem
					& > td:first-of-type
						span
							margin-right: 7.1875rem
				span
					display: inline-block


.footer
	padding: 2.8125rem 0
	border-top: 1px solid #2d3037
	color: #fff
	position: absolute
	left: 0
	bottom: 0
	right: 0
	font-size: 0.8125em
	&__develop
		color: #fff
		font-size: .9em
		margin-top: 0.8rem
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: flex-start
		span
			margin-right: 1rem
		img
			width: 7.5rem
	&__subscribe
		width: 15.62500rem
		margin-top: 1.25rem
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder
			font-size: 12px
			color: #898989

		input::-moz-placeholder,
		textarea::-moz-placeholder
			font-size: 12px
			color: #898989

		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder
			font-size: 12px
			color: #898989

		input:-moz-placeholder,
		textarea:-moz-placeholder
			font-size: 12px
			color: #898989
		.form-group
			margin-top: 0.65rem
		&-btn
			display: block
			margin-top: 0.9375rem
			width: 100%
			font-size: 11px
			letter-spacing: 0
		&-title
			color: #b4b4b4
			font-family: $med
			font-size: 0.923076923em
			line-height: 1.41666667
		&-form
			input:not([type="submit"])
				display: block
				background-color: #f6f6f6
				border: 1px solid #dddddd
				width: 100%
				height: 35px
				padding: 0 0.9375rem
	&__socials
		margin-top: 1.12500rem
		&.header__socials
			svg
				fill: #b4b4b4
	&__nav
		&-list
			margin-top: 0.875rem
			li
				margin-bottom: 0.4rem
				&:hover
					a
						color: #fff
				&:last-of-type
					margin-bottom: 0
				a
					font-family: $med
					color: #b4b4b4
					transition: 0.3s all ease-in
	&__title
		text-transform: uppercase
		font-family: $bold
		&:hover
			&:after
				width: 100%
		&:after
			content: ''
			transition: 0.2s all ease-in
			display: block
			height: 1px
			width: 2.5rem
			background-color: $orange
			margin-top: 0.4375rem
	&__logo
		svg
			width: 4.6875rem
	&__contacts
		margin-top: 1.12500rem
		font-family: $med
		& > *
			margin-bottom: 0.5rem
			transition: 0.2s all ease-in
			&:hover
				color: $orange
			&:last-child
				margin-bottom: 0
		a
			display: block
			color: inherit
	&__clock
		margin-top: 1.62500rem
		text-transform: uppercase
		&-title
			font-family: $semi
		&-value
			font-family: $med
			margin-top: 0.5rem

@media screen and (max-width: 1250px)
	.banner__slide-gallery
		margin-right: 4%
		width: 51%

@media screen and (max-width: 1199px)
	html
		font-size: 15px
	.shares-item__text
		margin-top: 3.2rem
	.header__right
		min-height: 42px
	.product__info-characteristics-table tr > td:first-of-type span
		margin-right: 5.6rem
	.product__info-price
		margin-top: 3rem
	.product__info-cta
		margin-top: 1.8rem
	.btn.btn--higher:not(.shares-item__offers-btn)
		padding: 0 4rem
	.header__right
		min-height: 40px
	.header__logo svg
		width: 4.8rem
	.header__nav-list > li
		margin-right: 1.4rem
	.header__nav
		margin-right: 1.55rem
	.header__callback
		padding: 0 1.45rem
	.header__callback,
	.header__languages
		margin-right: 1.55rem
	.share__slide-descr
		margin-top: .58rem
	

@media screen and (max-width: 991px)
	html
		font-size: 14px
	.new__content:after
		display: none
	.header__right
		min-height: 40px
	.product__info .btn.btn--higher:not(.shares-item__offers-btn)
		padding: 0 4rem
	.product__info-downloads a:hover
		padding-left: 0
	.product__info-downloads a
		&:before
			display: none
	.shares-item__img
		width: 35%
	.shares-item__text
		margin-top: 3rem
	.catalog__sort-title
		margin-right: 1.8rem
	.catalog__sort-title
		margin-right: 1rem
	.banner__slide-gallery
		margin-right: 7%
		width: 48%
	.product__info-price
		margin-top: 2.2rem
	.product__info-characteristics-table tr > td:first-of-type span
		margin-right: 3.5rem
	.btn.btn--higher:not(.shares-item__offers-btn)
		padding: 0 2.4rem
	
	.header__nav-list > li
		margin-right: 1.1rem
	.header__nav
		margin-right: 1.25rem
	.header__callback
		padding: 0 1.1rem
	.header__callback,
	.header__languages
		margin-right: 1.1rem
	.new
		.new__item
			width: 40%
			margin-right: 5%
			&:nth-child(3n)
				margin-right: 5%
			&:nth-child(2n)
				margin-right: 0
	.new__content
		justify-content: center

	.share__slide-descr
		margin-top: .5rem

@media screen and (max-width: 920px)
	.header__nav
		display: none
	.header__mobile
		display: block
	.header__logo
		margin-right: 2rem
	.header__right
		flex: 1

@media screen and (max-width: 880px)
	html
		font-size: 13px
	.banner__slide-btn
		margin-top: 2rem
	

@media screen and (max-width: 850px)
	.share__slide-descr
		margin-top: .45rem
	.filter-close-btn
		display: block
	.catalog__filter-content
		position: fixed
		padding: 25px 15px
		width: 360px
		background-color: #2d3037
		transform: translateX(-100%)
		top: 0
		left: 0
		bottom: 0
		height: 100%
		overflow-y: scroll
		transition: 0.2s all ease-in
		z-index: 4
		&.active
			transform: translateX(0%)
	.shares-page .share__slide
		width: 48%
		margin-right: 4%
		&:nth-child(2n)
			margin-right: 0
		&:nth-child(3n)
			margin-right: 4%
	.share-page__content
		width: 75%
		margin-left: auto
		margin-right: auto
	.product__top
		flex-direction: column
		align-items: center
	.product__gallery
		width: 50%
	.product__info-characteristics-title,
	.product__info-title,
	.product__info-price
		text-align: center
	.product__info-cta
		justify-content: center
	.product__info
		width: auto
		margin-top: 3.5rem
	.product__info-characteristics
		margin-top: 1.3rem
	.product__info-characteristics-table tr > td:first-of-type span
		margin-right: 5.6rem
	.where-to-buy__content
		flex-wrap: wrap
		justify-content: center
	.catalog__sort
		justify-content: center
	.where-to-buy__left
		width: 100%
		margin-bottom: 3.2rem
	.contacts__form:not(.error-404__wrap)
		width: 60%
	.catalog__content
		flex-direction: column
	.catalog__filter-top 
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		cursor: pointer
		justify-content: center
		span
			margin-right: 0.8rem
		svg
			display: block
	.catalog__right 
		width: 80%
		margin-top: 2.2rem
		margin-left: auto
		margin-right: auto
	.catalog__filter
		width: 100%
	.catalog__top.catalog__filter-top
		height: auto
		padding-bottom: 1rem

@media screen and (max-width: 767px)
	html
		font-size: 13px
	body #live-search
		width: 80%
	.catalog__right 
		width: 100%
	.share-page__content
		width: 88%
	.banner__slide-inner > .container
		flex-direction: column
	.banner__slide-info
		width: 80%
		text-align: center
		order: 2
		margin-top: 7rem
	.banner__slide-gallery
		width: 58%
		order: 1
		margin-right: 0
	.banner__dot
		bottom: 2rem
	.search-results .catalog__filter
		width: 100%

	.shares-item__img
		width: 40%
	.contacts__info
		flex-direction: column
		align-items: center
	.shares-item__text
		margin-top: 2.6rem

	.contacts__map
		width: 100%
		margin-top: 2.5rem
		height: 30.3125rem
	
	.banner__slide-video
		bottom: 0.7rem
	
	.banner__slide
		padding: 5.8rem 0
	.advantages__item
		width: 30%
		margin-right: 5%
		margin-bottom: 1.8rem
		&:nth-child(3n)
			margin-right: 0
	.advantages__content
		flex-wrap: wrap
		justify-content: center
		margin-bottom: -1.8rem
	

@media screen and (max-width: 720px)
	.new
		.new__item
			width: 46%
			margin-right: 4%
			&:nth-child(3n)
				margin-right: 4%


@media screen and (max-width: 650px)
	html
		font-size: 12px
	.contacts__top-item
		margin-right: 4rem
		margin-bottom: 4rem
	.share-page__content
		width: 100%
	body #live-search
		width: 100%
	.contacts__top
		margin-bottom: -4rem
		margin-right: -4rem
	.news-item img
		width: 70%
		float: none
		margin: 0 auto 3.2rem
		display: block
	.news-item .product__description
		margin-top: 2rem
	.header__right.active .header__search-form
		right: 1rem
	.contacts__form:not(.error-404__wrap)
		width: 80%
	.footer__content
		flex-wrap: wrap
		justify-content: space-around
	.footer__info
		width: 100%
		margin-bottom: 3rem
		text-align: center
	.news__content
		width: 70%
		margin-left: auto
		margin-right: auto
	.news__content:after
		display: none
	.news__item
		width: 100%
		margin-bottom: 2rem
	.news__row
		flex-direction: row
		height: auto
		&:last-child
			.news__item
				&:last-child
					margin-bottom: 0
	
	.product__gallery
		width: 60%
	

@media screen and (max-width: 620px)
	.catalog__items
		justify-content: center
	.shares-item__img
		width: 45%
	.new,
	.catalog__items
		.new__item
			width: 60%
			margin-right: 0%
			&:nth-child(3n)
				margin-right: 0%


@media screen and (max-width: 580px)
	
	.faq__content
		flex-direction: column
	.faq__content-part
		margin-right: 0
		width: 100%
	.shares-item__img
		width: 55%
		float: none
		margin: 0 auto 3.5rem


@media screen and (max-width: 550px)
	.banner__slide-gallery
		width: 70%
	
	.jquery-modal.blocker.current
		padding: 0
		.modal
			width: 97%
	.new,
	.catalog__items
		.new__item
			width: 75%
	
	.error-404__content
		width: 80%
	.error-404__content
		padding-top: 3rem

@media screen and (max-width: 530px)
	.product__gallery
		width: 70%
	.contacts__form:not(.error-404__wrap)
		width: 70%

@media screen and (max-width: 520px)
	.shares-item__img
		margin-bottom: 1.3rem
	.shares-item__text
		margin-top: 2.2rem
	.share__slider
		width: 60%
		margin: 0 auto
	.share-page__content
		width: 60%
		margin-left: auto
		margin-right: auto
	.shares-page .share__slide
		width: 100%
		margin-right: 0%
		&:nth-child(3n)
			margin-right: 0
	.footer__develop
		margin-top: 1.3rem
		flex-direction: column
		align-items: center
		justify-content: flex-start
		img
			margin-top: 0.5rem

@media screen and (max-width: 480px)
	.shares-item__img
		width: 65%
	.advantages__item
		width: 45%
		&:nth-child(3n)
			margin-right: 5%
		&:nth-child(2n)
			margin-right: 0
	.catalog__sort.catalog__top
		margin-bottom: 4.5rem
		height: auto
		flex-direction: column
	.catalog__sort-title
		margin-right: 0
		margin-bottom: 0.2rem

@media screen and (max-width: 450px)
	.banner__slide-info
		margin-top: 5rem
	.header__mobile
		position: absolute
		right: 0
		top: -45px
	.header__right.active .header__search-form
		left: 2rem
		right: 2rem
	.header__search-icon
		width: 16px
	.header__socials:not(.footer__socials)
		position: absolute
		left: 0
		top: -42px
	.share-page__content
		width: 75%
	.contacts__form:not(.error-404__wrap)
		width: 100%
	.footer__content
		flex-direction: column
		align-items: center
	.footer__nav
		width: 100%
		text-align: center
		margin-bottom: 3rem
	.footer__title:after
		margin-left: auto
		margin-right: auto
	.footer__socials
		justify-content: center
	.footer__subscribe
		width: 80%
		margin-left: auto
		margin-right: auto
	.footer__cta
		width: 100%
		text-align: center
	.banner__slide
		padding-top: 3.2rem
	.news__content
		width: 100%
	.news__item-info
		left: 1.4rem
		right: 1.4rem
		top: 1.4rem
		bottom: 1.4rem
	.header__logo svg
		width: 6.2rem
	.header__search
		margin-right: 0
	.header__callback, .header__languages
		margin-right: 0
	.header__top
		flex-direction: column
	.header__right
		width: 100%
		justify-content: center
		margin-top: 1.4rem
	.header__callback
		margin: 0 3rem
	.header__logo
		margin-right: 0
	.header__mobile
		margin-left: 0
	.where-to-buy__item-address
		width: 40%
		margin-right: 5%
	.where-to-buy__item-phones
		width: 55%
	.where-to-buy__item-site
		width: 100%
	.error-404__content
		width: 100%
		padding-top: 1.3rem
	.where-to-buy__item-content-item
		flex-wrap: wrap
		& > *
			margin-bottom: 1rem
			&:last-child
				margin-bottom: 0
	
	.catalog__sort-items
		flex-wrap: wrap
		justify-content: flex-start
		line-height: 1.5em
	.product__info-btn
		margin-right: 2rem
	.product__info-characteristics-table tr > td:first-of-type span
		margin-right: 3.3rem
	
	.category__slide-img img
		max-width: 70%
	.banner__slide-gallery
		width: 85%
	.banner__slide-info
		width: 87%
	.banner__arrows .arrow--next
		transform: translateX(200%)


@media screen and (max-width: 420px)
	.shares-item__img
		width: 72%
	.catalog__filter-content

		width: 100%
	.news-item img
		width: 100%

	.jquery-modal.blocker.current .modal.callback-modal .form-group:not(.form-group--shorter)
		width: 100%
	.modal-content
		flex-direction: column
	

@media screen and (max-width: 380px)
	.share__slider
		width: 80%
	.share-page__content
		width: 80%
	.product__gallery
		width: 80%
	.shares-item__img
		width: 83%
	.contacts__top-item
		width: 100%
		margin-right: 0
	.contacts__top
		margin-right: 0

@media screen and (max-width: 360px)
	.new,
	.catalog__items
		.new__item
			width: 88%
	.product__gallery
		width: 100%
	.contacts__form:not(.error-404__wrap)
		width: 100%

@media screen and (max-width: 340px)
	.new .new__item, .catalog__items .new__item
		width: 100%
	.share-page__content
		width: 100%